@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Unbounded:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #1e1033;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9F1ad0;
    color: #FFFFFF;
    border-radius: 10px;
}

.title-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: centers;
    justify-content: flex-start;
}

.tags {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9bef0;
    border-radius: 30px;
    padding: 6px 20px;
    font-weight: 700;
    background-color: #5b4b7a;
}


.title-col .title {
    font-family: "Unbounded";
}

.title-col .subtitle {
    color: #d9bef0;
    margin-bottom: 10px;
};